* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-y: scroll !important;
  
}
body.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}

.RBlogo{
  width: 112px;
}
.logocaption{
  font-size: 11px;
}
.toggle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 28px;
  padding: 5px;
  background-color: #f5f0f0;
  /* color: #FE0000; */
  cursor: pointer;
  text-align: center;
  display: none;
}
#offcanvasRight{
  width: 290px;
  background: #f9f7f7;
  /* color: white; */
}
.offcanvas.slide {
  transition-duration: 0.4s; 
}

.fullscreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen main{
  flex-grow: 1;
}

 .fullscreen2{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.fullscreen2 main{
  flex-grow: 1;
}

.selleraccordion{
  background-color: rgb(233, 236, 229);
  min-height: 90vh;
}
 .gradientnav .navbar{
  
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
.custom-item{
  margin-left: auto;
  margin-right: auto;
}
.custom-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.custom-item .zoomAnimation {
  transition: transform 0.2s;
}
.custom-item .zoomAnimation:hover {
  transform: scale(1.1);
}
.homebanner {
  width: 100%;
}

/* .custom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  padding: 10px;
  margin: 10px 15px;
  font-size: 4em;
} */

.carouselcomponentdiv .carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.image-container {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.banner {
  height: 100%;
  width: 100%;
}
.carouselslide {
  height: 280px;
  width: 280px;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: 0;
  padding: 0; */
}
.carouselslide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer1 a {
  color: black;
}
.footer1 a:hover {
  color: rgb(55, 8, 244);
  cursor: pointer;
}
.paymentcards {
  width: 50px;
  height: 30px;
}
.bannerHead {
  color: white;
  text-shadow: 2px 3px 2px black;
}


/* .productcard {
  width: 170px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 !important;
  margin: 1rem;
  
} */
/* .productcard1{
  width: 165px;
 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 !important;
  margin: 1rem;
}
.productcard1 .card-img-top1 {
  max-width: 100%;
  height: 162px;
 
  object-fit: contain;
  align-self: center; 

} */
.productcard .card-img-top {
  max-width: 100%;
  /* height: 150px; */
 
  object-fit: contain;
  align-self: center; 

}
/* .product-card-container {
  flex: 1 0 100%;
} */
/* .Productsgap{
  row-gap:"3rem"
} */
/* .productcard .card-body {
  height: 75px;
} */
.productimgback{
  background-color: rgb(249, 244, 244)
}
.bodydiv{
  height: 10px !important;
}

.customermenu .list-group a {
  color: black;
}
.customermenu .list-group a.active {
  background-color: black;
  color: white;
}
.customermenu .list-group a:hover {
  background-color: rgb(139, 136, 136);
  color: white;
}

.menumain .accordion {
  --bs-accordion-btn-bg: rgb(248, 248, 248);
  --bs-accordion-btn-color: #100f10;
  --bs-accordion-active-bg: rgb(246, 250, 241);
  --bs-accordion-active-color: #100f10;
  --bs-accordion-btn-focus-box-shadow: none;
}


.womenallimgs {
  width: 130px;
  height: 130px;
}
.scroll-container {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  padding: 2px;
}
.scroll-container img {
  padding: 4px;
}
.productdetailsimgdiv{
width: 550px;
height: 600px;
background-color: rgb(248, 243, 243);
}
.productdetailsimg {
  max-width: 100%;
  height: 600px;
  object-fit: contain;
  align-self: center; 
}
.productdetailscarousel{
  width: 400px;
}
.productdetailscarousel .card{
  width: 120px;
  height: 120px;
  background-color: rgb(248, 243, 243);
 
}
.hovermenus {
  position: absolute;
  top: 30;
  left: 0;
}
#navbarDropdownWomen{
  padding-top: 0px;
}
.navbarul .nav-link{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 500;
}
.offcanvas-body{
  overflow-y: auto;
}
.gradientnav .custom-navbar-toggler {
  margin: 10px 5px;
  padding: 0.5rem 0.5rem; 
  font-size: 0.975rem; 
}
/* .authdiv{
  display: flex;
  justify-content: flex-end;
} */

.custom-carousel .rec.rec-arrow {
  background-color: gray !important; 
  color: white; 
  display: none;
}

.custom-carousel .rec.rec-arrow:active {
  background-color: gray !important; 
  color: white; 
}
.custom-carousel .rec.rec-arrow:disabled {
  background-color: rgb(179, 175, 175) !important; 
  color: white; 
}

.Mobilesearchdiv{
  display: block;
}
.searchIcon{
  display: none;
}

/* Review and ratings feedback start */

.fb-form input,
.fb-form textarea {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-size: 1em;
}

.fb-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
}

.fb-form textarea {
  height: 100px;
}

.rating {
  margin: 15px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rating .fa-star {
  font-size: 2em;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.5s ease;
  color: rgb(232, 227, 227); 
}

.rating .fa-star.active-rating

 {
  color: rgb(254, 254, 9); 
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.image-container1 {
  position: relative;
  width: 70px;
}

.image-container1 img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.remove-button {
  position: absolute;
  top: -2px;
  right: -2px;
  background: rgb(228, 14, 14);
  opacity: 0.8;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}
/* Reviews and ratings feedback end */

/* Like button */

/* .productdetailsimgdiv {
  position: relative;
} */

.heart-icon {
cursor: pointer;
}

body.offcanvas-open {
  overflow: hidden;
  padding-right: 0 !important;
}



@media all and (max-width: 767px) and (orientation: portrait) {
  .homebanner {
    height: 120px;
  }
  .womenallimgs {
    width: 80px;
    height: 80px;
  }
  .scroll-container {
    display: flex;
    justify-content: flex-start;
  }
  .productdetailsimgdiv{
    width: 290px;
    height: 400px;
    
    }
  .productdetailsimg {
    max-width: 100%;
    max-height: 400px;
  }
  .productdetailscarousel{
    width: 290px;
  }
  .selleraccordion{
    min-height: 22vh;
  }
  .hovermenus {
    top: 30;
    left: 30px;
  }
  .navbarul .nav-link{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .bargainlogodiv{
    margin-top: 10px;
  }
  .custom-carousel{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .custom-carousel .rec.rec-arrow-left {
    position: absolute;
    bottom: 50%;
    left: 8%;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.5) !important;
    color: white;
  }
  .custom-carousel .rec.rec-arrow-right {
    position: absolute;
    bottom: 50%;
    right: 8%; 
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.5) !important;
    color: white;
  }
  
  .rec.rec-arrow:disabled {
    visibility: hidden;
}
.sellnowdiv,.logindiv{
  display: none;
}
.RBlogo{
  width: 85px;
  object-fit: cover;
}
.Mobilesearchdiv{
  display: none;
}
.searchIcon{
  display: block;
}
.toggle{
  display: block;
}


}
@media all and (max-width: 767px) {
  .sellnowdiv,.logindiv{
    display: none;
  }
  .RBlogo{
    width: 85px;
    object-fit: cover;
  }
  .Mobilesearchdiv{
    display: none;
  }
  .searchIcon{
    display: block;
  }
  .toggle{
    display: block;
  }
 
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* .productcard {
    width: 180px;
    margin: 1rem;
  } */
  .productcard .card-img-top {
    max-width: 100%;
    height: 170px;
    object-fit: contain;
  align-self: center; 
  }
  /* .productcard .card-body {
    height: 130px;
  } */
  .womenallimgs {
    width: 80px;
    height: 80px;
  }
  .productdetailsimgdiv{
    width: 550px;
    height: 600px;
    
    }
  .productdetailsimg {
    max-width: 100%;
    height: 600px;
  }
  .productdetailscarousel{
    width: 500px;
  }
  .toggle{
    display: none;
  }
  .sellnowdiv{
   padding-left: 20px;
   width: 100px;
  }
  
}

@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: portrait) {
  /* .productcard {
    width: 170px;
    margin: 0.8rem;
  } */
  .productcard .card-img-top {
    max-width: 100%;
    height: 150px;
  }
  .productdetailsimgdiv{
    width: 360px;
    height: 450px;
    
    }
  .productdetailsimg {
    max-width: 100%;
    height: 450px;
  }
  .productdetailscarousel{
    width: 360px;
  }
  .detailsdiv{
    margin-left: 50px;
  }
  .toggle{
    display: none;
  }
 
}
@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: landscape) {
  /* .productcard {
    width: 165px;
    margin: 0.8rem;
  } */
  .productcard .card-img-top {
    max-width: 100%;
    height: 150px;
  }
  .productdetailsimgdiv{
    width: 400px;
    height: 500px;
    }
  .productdetailsimg {
    max-width: 400px;
    height: 500px;
  }
  .detailsdiv{
    margin-left: 50px;
  }
  .productdetailscarousel{
    width: 400px;
  }
  .toggle{
    display: none;
  }
  
}
@media all and (min-width: 1281px) and (max-width: 1600px) and (orientation: landscape) {
  /* .productcard {
    width: 190px;
    margin: 1rem;
  } */
  .productcard .card-img-top {
    max-width: 100%;
    height: 170px;
  }
  
  .productdetailsimgdiv{
    width: 410px;
    height: 500px;
    
    }
  .productdetailsimg {
    max-width: 410px;
    height: 500px;
  }
  .productdetailscarousel{
    width: 410px;
  }
  .toggle{
    display: none;
  }
 
}






/* .review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.fb-form h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.fb-form input,
.fb-form textarea {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-size: 1em;
}

.fb-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
}

.fb-form textarea {
  height: 100px;
}

.rating {
  margin: 15px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rating .fa-star {
  font-size: 2em;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.5s ease;
}

.rating .fa-star.active-rating,
.rating .fa-star:hover,
.rating .fa-star:hover ~ .fa-star {
  color: yellow;
}

@keyframes rating-highlight {
  0% {
    transform: rotate(-10deg) scale(1.2);
  }
  20% {
    transform: rotate(10deg) scale(0.8);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
  80% {
    transform: rotate(5deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
 */




/* .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}





 */
 .product-grid {
  display: grid;
  gap: 16px;
}

@media (max-width: 575.98px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .logocaption{
    font-size: 8px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .logocaption{
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .logocaption{
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .logocaption{
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Product card styling */
.product-card {
  width: 100%;
  max-width: 240px; /* Adjust this value as needed */
  height: auto;
  margin: 10px auto;
  /* border: none !important; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 0 !important;
}

/* scroll to top button code start */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: rgb(63, 63, 229);
  opacity:0.9;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 13px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    background-color: #2e82dc;
    color: #fff;
  }
}

.scroll-to-top.visible {
  display: block;
}
/* scroll to top button code end */


.productimgback .carousel-indicators [data-bs-target] {
  width: 7px; 
  height: 7px; 
  margin-right: 5px; 
  border-radius: 50%; 
}

.productimgback .carousel-indicators .active {
  background-color: red;
}


/* CSS for heart animation */
.heart {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: none;
  stroke: #d3d1d1;
  fill: #f8f3f3;
  stroke-width: 1.5;
  transition: fill 0.25s ease, stroke 0.25s ease;
}

.heart.liked {
  fill: #ff0000;
  stroke: #ff0000;
  animation: heartbeat 0.25s ease;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Infinity scroll loader icon code */

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}

.spin-icon {
  font-size: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* alert code */


.alert_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999999999999999;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Calibri;
  font-weight: 900;
}

.alert_container {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  animation: alert_container_animation 0.5s 1;
  -webkit-animation: alert_container_animation 35s 1;
}

@media (min-width: 600px) {
  .alert_container {
    width: 350px;
  }
}

@keyframes alert_container_animation {
  0% {
    transform: scale(0.5);
  }

  1% {
    transform: scale(1.1);
  }

  2% {
    transform: scale(1);
  }
}

.alert_heading {
  padding: 5px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.alert_details {
  padding: 15px;
  text-align: center;
}

.alert_details h2 {
  font-size: 20px;
}

.alert_details p {
  font-size: 14px;
  color: #525252;
  line-height: 1.5em;
  margin-top: 5px;
}

.alert_footer {
  background-color: #E3E3E3;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.alert_footer span {
  color: #979797;
  cursor: pointer;
}

.alert_footer span:hover {
  color: #353535;
}

.success {
  background: linear-gradient(80deg, #67FF86, #1FB397);
  color: #1FB397;
}

.error {
  background: linear-gradient(80deg, #FF6767, #B31F1F);
  color: #B31F1F;
}

.info {
  background: linear-gradient(80deg, #7ED1FF, #484B95);
  color: #484B95;
}

/* Loading code start */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* .d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mb-3 {
  margin-bottom: 1rem;
} */

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  /* color: #fff; */
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* Loading code end */

.filterdisplaynav{
  background-color: #e5e7e9;
}

/* Password eye icon start */
.toggle11 {
  background: none;
  border: none;
  /* color: #337ab7; */
  font-weight: 600;
  position: absolute;
  right: 1em;
  top: 1.8em;
  z-index: 9;
  font-size: 20px;
}
.toggle12 {
  background: none;
  border: none;
  font-weight: 600;
  position: absolute;
  right: 1.3em;
  top: .2em;
  z-index: 9;
  font-size: 20px;
}
.passwordgroup{
  position: relative;
}
/* Password eye icon end */
